node-red json.txt
[
    {
        "id": "tab_master_control",
        "type": "tab",
        "label": "IoHT Master Control",
        "disabled": false,
        "info": "Controls the Unified Pacemaker Simulation"
    },
    {
        "id": "group_network",
        "type": "group",
        "z": "tab_master_control",
        "name": "Network Layer Attacks",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffcccc",
            "label": true
        },
        "nodes": [
            "inject_dos",
            "inject_smurf",
            "inject_arp",
            "inject_scan"
        ],
        "x": 134,
        "y": 179,
        "w": 192,
        "h": 242
    },
    {
        "id": "group_physical",
        "type": "group",
        "z": "tab_master_control",
        "name": "Physical Device Attacks",
        "style": {
            "stroke": "#ff9900",
            "fill": "#ffedcc",
            "label": true
        },
        "nodes": [
            "inject_spoof",
            "inject_injection",
            "inject_replay",
            "inject_ratetamper",
            "inject_flatline"
        ],
        "x": 374,
        "y": 179,
        "w": 192,
        "h": 302
    },
    {
        "id": "inject_normal",
        "type": "inject",
        "z": "tab_master_control",
        "name": "🟢 Normal / Reset",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Normal",
        "payloadType": "str",
        "x": 350,
        "y": 100,
        "wires": [
            [
                "mqtt_master_out"
            ]
        ]
    },
    {
        "id": "inject_dos",
        "type": "inject",
        "z": "tab_master_control",
        "g": "group_network",
        "name": "🔥 DoS Attack",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "DoS",
        "payloadType": "str",
        "x": 230,
        "y": 220,
        "wires": [
            [
                "mqtt_master_out"
            ]
        ]
    },
    {
        "id": "inject_smurf",
        "type": "inject",
        "z": "tab_master_control",
        "g": "group_network",
        "name": "🌊 Smurf Attack",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Smurf",
        "payloadType": "str",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "mqtt_master_out"
            ]
        ]
    },
    {
        "id": "inject_arp",
        "type": "inject",
        "z": "tab_master_control",
        "g": "group_network",
        "name": "🕵️ ARP Spoof",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ARP",
        "payloadType": "str",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "mqtt_master_out"
            ]
        ]
    },
    {
        "id": "inject_scan",
        "type": "inject",
        "z": "tab_master_control",
        "g": "group_network",
        "name": "📡 Port Scan",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Scan",
        "payloadType": "str",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "mqtt_master_out"
            ]
        ]
    },
    {
        "id": "inject_spoof",
        "type": "inject",
        "z": "tab_master_control",
        "g": "group_physical",
        "name": "☠️ Spoofing",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Spoofing",
        "payloadType": "str",
        "x": 470,
        "y": 220,
        "wires": [
            [
                "mqtt_master_out"
            ]
        ]
    },
    {
        "id": "inject_injection",
        "type": "inject",
        "z": "tab_master_control",
        "g": "group_physical",
        "name": "💉 Injection",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Injection",
        "payloadType": "str",
        "x": 470,
        "y": 280,
        "wires": [
            [
                "mqtt_master_out"
            ]
        ]
    },
    {
        "id": "inject_replay",
        "type": "inject",
        "z": "tab_master_control",
        "g": "group_physical",
        "name": "🔄 Replay",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Replay",
        "payloadType": "str",
        "x": 470,
        "y": 340,
        "wires": [
            [
                "mqtt_master_out"
            ]
        ]
    },
    {
        "id": "inject_ratetamper",
        "type": "inject",
        "z": "tab_master_control",
        "g": "group_physical",
        "name": "⚡ Rate Tamper",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "RateTamper",
        "payloadType": "str",
        "x": 470,
        "y": 400,
        "wires": [
            [
                "mqtt_master_out"
            ]
        ]
    },
    {
        "id": "inject_flatline",
        "type": "inject",
        "z": "tab_master_control",
        "g": "group_physical",
        "name": "📉 Flatline",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Flatline",
        "payloadType": "str",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "mqtt_master_out"
            ]
        ]
    },
    {
        "id": "mqtt_master_out",
        "type": "mqtt out",
        "z": "tab_master_control",
        "name": "Send to Pacemaker",
        "topic": "simulation/master_control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "broker_local",
        "x": 750,
        "y": 250,
        "wires": []
    },
    {
        "id": "mqtt_ecg_alert",
        "type": "mqtt in",
        "z": "tab_master_control",
        "name": "Monitor ECG Alerts",
        "topic": "fusion/ecg_alert",
        "qos": "0",
        "datatype": "json",
        "broker": "broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "debug_ecg_alert"
            ]
        ]
    },
    {
        "id": "debug_ecg_alert",
        "type": "debug",
        "z": "tab_master_control",
        "name": "ECG AI",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.signal_status",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 560,
        "wires": []
    },
    {
        "id": "mqtt_net_result",
        "type": "mqtt in",
        "z": "tab_master_control",
        "name": "Monitor Network AI",
        "topic": "ioht/network/result",
        "qos": "0",
        "datatype": "json",
        "broker": "broker_local",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "debug_net_result"
            ]
        ]
    },
    {
        "id": "debug_net_result",
        "type": "debug",
        "z": "tab_master_control",
        "name": "Network AI",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.diagnosis",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 620,
        "wires": []
    },
    {
        "id": "broker_local",
        "type": "mqtt-broker",
        "name": "Localhost",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "userProps": "",
        "sessionExpiry": ""
    }
]